:root {
    --black: #121212;
    --black2: #040404;
    --orange: #e56102;
    --darkOrange: #994102;
    --white: #ffffff;
    --lightGray: #aaaaaa;
    --gray: #2c2c2c;
    --darkGray: #1f1f1f;
    --beige: #f1f1b1;
}
  
body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--orange);
    font-family: Arial, sans-serif;
}