.container {
    display: flex;
    font-family: Arial, sans-serif;
}

.initialTitle {
    height: 90vh;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    height: auto;
    align-items: flex-start; /* Alinha os itens no topo */
    background-color: rgb(41, 39, 39); 
}

.formContainer, .itemsContainer {
    width: 45%;
    background-color: var(--darkGray);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slide-down 0.5s ease;
}

.fullFormContainer, .fullItemsContainer {
    width: 70%;
    background-color: var(--darkGray);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slide-down 0.5s ease;
}

.titulo {
    color: var(--white);
    font-size: 23px;
    text-align: center;
}

.titulo2 {
    color: var(--white);
    font-size: 23px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
}

.form input {
    margin-bottom: 20px;
    height: 6vh;
    text-align: left;
    font-size: 16px;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    background-color: var(--gray);
    color: var(--beige);
}

.form input:focus {
    outline: none;
    border-color: var(--orange);
}

.form select {
    margin-bottom: 20px;
    height: 6vh;
    text-align: left;
    font-size: 16px;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    background-color: var(--gray);
    color: var(--beige);
}

.form select:focus {
    outline: none;
    border-color: var(--orange);
}

.submitButton {
    align-self: center;
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: var(--orange);
    color: var(--beige);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.submitButton:hover {
    background-color: var(--darkOrange);
}

.itemBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    background-color: var(--gray);
    color: var(--beige);
}

.removeButton {
    align-self: flex-start;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--red);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

.removeButton:hover {
    background-color: var(--darkRed);
    transform: scale(1.05);
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}